---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
/* const cvEs = new URL('/docs/CV Diaz Facundo 2025.pdf', Astro.site).toString();
const cvEn = new URL('/docs/CV Eng-Diaz Facundo 2025.pdf', Astro.site).toString(); */
const cvEs = `${import.meta.env.BASE_URL}/docs/CV Diaz Facundo 2025.pdf`;
const cvEn = `${import.meta.env.BASE_URL}/docs/CV Eng-Diaz Facundo 2025.pdf`;
---

<footer id='contact' class='w-full bg-[#131313] flex justify-between items-center flex-wrap pt-4 pr-16 h-auto'>
  <div class='footer__container flex flex-col items-start gap-8'>
    <a href='/' class='profile flex rounded-[50%] items-center gap-6'>
      <div class='img__container rounded-[50%] overflow-hidden transition-transform duration-300 ml-5'>
        <img
          class='header__img w-11 h-11'
          src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2Fv2%2FC4E03AQFUtWKOn67htw%2Fprofile-displayphoto-shrink_200_200%2Fprofile-displayphoto-shrink_200_200%2F0%2F1634309529096%3Fe%3D2147483647%26v%3Dbeta%26t%3D_-cQbsxgTCLOSTXyS4iHFfgLKCdwRNmK2kfDe7Tdk68&f=1&nofb=1&ipt=d3afd5ff7d44a32ce5dbde1d43e686fd03ed6c25c128ca09a973fe8d57a3e97a'
          alt='Facundo Diaz'
        />
      </div>
      <h3 class='color__gradiente header__title pochita text-3xl'>Facundo Diaz</h3>
    </a>
    <div class='icons__container w-40 flex justify-start gap-5 items-start mx-5'>
      <a href='https://www.linkedin.com/in/facundo-diaz1995/' target='_blank' rel='nofollow noreferrer noopener'>
        <img class='skill__icon LinkedIn w-8 h-8' src='https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/linkedin.webp' />
      </a>
      <a href={`${lang === 'es' ? `${cvEs}` : `${cvEn}`}`} target='_blank' rel='nofollow noreferrer noopener'>
        <img title={t('Contact.resume')} class='skill__icon CV w-8 h-8' src='https://img.icons8.com/?size=100&id=45588&format=png&color=ffffff' alt='Resume' />
      </a>
    </div>
  </div>
  <aside class='footer__links'>
    <ul>
      <li>
        <a class='footer__link flex items-center justify-start gap-4' href='mailto:facuzero_95@hotmail.com'>
          <span>
            <img src='https://img.icons8.com/?size=100&id=86840&format=png&color=ffffff' alt='mail to' width='27' height='27' style='color: #dcd8fc' />
          </span>
          <span class='text-2xl pochita'>facuzero_95@hotmail.com</span>
        </a>
      </li>
      <li>
        <a class='footer__link flex items-center justify-start gap-4' href='https://github.com/facuzero' target='_blank' rel='nofollow noreferrer noopener'
          ><span><img src='https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/webp/github-light.webp' width='27' height='27' style='color: #dcd8fc' /></span><span class='text-2xl pochita'
            >@facuzero</span
          ></a
        >
      </li>
    </ul>
  </aside>
</footer>
